{% from "home/_macros.html" import column with context %}

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Kanban Board</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="modal-container" id="add-modal-container">
      <form class="modal" id="add-new-task-form" action="/">
        <h2>Add New Task</h2>
        <div class="inputs">
          <input id="task-name" placeholder="Task name" name="name" />
          <textarea
            id="task-description"
            placeholder="Task description"
            rows="4"
            name="description"
          ></textarea>
        </div>
        <button type="submit" class="default-button">Add task!</button>
      </form>
    </div>

    {% if message %}
    <div class="modal-container conditional" id="info-modal-container">
      <div class="modal" id="indo-modal">{{message}}</div>
    </div>
    {% endif %} {% block content %}{% endblock %}
  </body>
  <script src="/static/js/home/home.js" type="module"></script>
  <script src="/static/js/home/task.js" type="module"></script>
  <script src="/static/js/global.js"></script>
</html>
