{% macro action(icon, action, task) %}
<img
  class="action-button"
  data-taskUuid="{{task['uuid']}}"
  data-action="{{action}}"
  src="/static/img/{{icon}}.svg"
/>
{% endmacro %} {% macro taskOfColumn(task) %}
<div class="task">
  <div class="header">
    {% if task['status'] != 0 %} {{ action('arrow-left', 'previous', task) }} {%
    else %}
    <div></div>
    {%endif %}
    <div class="actions">
      <span>{{task['name']}}</span>
      {{ action('trash', 'delete', task) }}
    </div>
    {% if task['status'] != 2 %} {{ action('arrow-right', 'next', task) }} {%
    else %}
    <div></div>
    {% endif %}
  </div>
  <div class="description">{{task['description']}}</div>
</div>
{% endmacro %} {% macro column(id, title, tasks) %}
<div class="column" id="{{id}}">
  <div class="header">{{title}}</div>
  <div class="tasks-list">
    {% for task in tasks %} {{ taskOfColumn(task) }} {% endfor %}
  </div>
</div>
{% endmacro %}
