{% extends "_auth.html" %}
{% from "_macros.html" import input with context %}
{% block content %}
  <div class="login-box">
    <h1>Welcome to the Kanban Board</h1>
    <form action="/" method="POST" id="login-form">
      {{ input('Email Address') }}
      {{ input('Password') }}
      <button type="submit">
        <span>Login</span>
        <div></div>
      </button>
    </form>
    <a href="/auth/register" class="sign-up"
      >Still don't have an account? Sign up now!</a
    >
  </div>
{% endblock %}
