{% extends "_auth.html" %}
{% from "_macros.html" import input with context %}
{% block content %}
  <div class="login-box">
    <h1>Join us on Kanban Board</h1>
    <form action="/" id="register-form">
      {{ input('First Name') }}
      {{ input('Last Name') }}
      {{ input('Email Address') }}
      {{ input('Password') }}
      <button type="submit">
        <span>Login</span>
        <div></div>
      </button>
    </form>
    <a href="/auth/login" class="sign-up"
      >Already have an account? Sign in now!</a
    >
  </div>
{% endblock %}
{% block javaScript %}
super()
{% endblock %}
