<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Kanban Board - Login</title>
    <link rel="stylesheet" href="/static/css/auth.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main>
      {% if response_auth and response_auth['message']%}
      <div
        class="notification-modal-container"
        id="notification-modal-container"
      >
        <div class="notification-modal" id="notification-modal">
          {{response_auth['message']}}
        </div>
      </div>
      {% endif %}
      <div class="login-box">
        <h1>Join us on Kanban Board</h1>
        <form action="http://127.0.0.1:5000/auth/register" method="POST">
          <div class="input-box" id="first-name-input-box">
            <span>First Name</span>
            <input name="firstName" id="first-name-input" />
          </div>
          <div class="input-box" id="last-name-input-box">
            <span>Last Name</span>
            <input name="lastName" id="last-name-input" />
          </div>
          <div class="input-box" id="email-input-box">
            <span>Email Address</span>
            <input name="email" id="email-input" />
          </div>
          <div class="input-box" id="password-input-box">
            <span>Password</span>
            <input name="password" id="password-input" type="password" />
          </div>
          <button type="submit">
            <span>Register</span>
            <div></div>
          </button>
        </form>
        <a href="/auth/login" class="sign-up"
          >Already have an account? Sign in now!</a
        >
      </div>
      <div class="image-container">
        <img src="/static/img/background.jpg" />
      </div>
    </main>
  </body>
  <script src="/static/js/auth.js"></script>
</html>
